/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
	font-size: 16px;
}
body {
  min-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: hsla(220, 32%, 8%, 3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: hsla(220, 32%, 8%, 3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  padding: 0 20px;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
/* .navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: hsla(220, 32%, 8%, 3);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: hsla(220, 32%, 8%, 3);
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: hsla(220, 32%, 8%, 3);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  /* nav {
    position: relative;
  } */
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: hsla(220, 32%, 8%, 3);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show4 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show4 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}

@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .recentpost {
    width: 100%;
    height: 233px;
  }
  .liveradio {
    width: 350px !important;
  }
}
/* @media (min-width: 60px) {
  .postterbaru {
    width: 351px;
  }
} */
.sub-footer {
  display: none;
}
.lifooter {
  list-style: none;
}
.afooter {
  text-decoration: none;
  color: white;
}
.bungkus::hover{
  cursor:pointer ;
}
.liveradio {
  width: 400px;
}
.category {
  margin-top: 50px;
}

.lokasi {
  margin-top: 50px;
}
.lokasi iframe {
  border: 0;
  width: 100%;
  height: 500px;
}

@media (min-width: 768px){
  .recentpost{
    width: 130px;
    height: 96px;
    object-fit: cover;
  }
}

.fix-size{
  width: 400px;
  height: 250px;
  object-fit: cover;
}
.sectionEvent {
  text-align: center;
  font-size: 24px; /* Sesuaikan ukuran font */
  font-weight: bold; /* Jika Anda ingin teks lebih tebal */
  margin-bottom: 20px; /* Jarak antara teks dan konten di bawahnya */
  position: relative;
}

.sectionEvent::after {
  content: '';
  width: 70px; /* Panjang garis hijau */
  height: 3px;  /* Ketebalan garis hijau */
  background: linear-gradient(310deg, #2152ff, #21d4fd); /* Warna hijau */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px; /* Jarak antara teks dan garis hijau */
}
.section {
  font-size: 24px; /* Sesuaikan ukuran font */
  font-weight: bold; /* Jika Anda ingin teks lebih tebal */
  margin-bottom: 20px; /* Jarak antara teks dan konten di bawahnya */
  position: relative;
}

.section::after {
  content: '';
  width: 100%; /* Panjang garis hijau */
  height: 3px;  /* Ketebalan garis hijau */
  background: linear-gradient(310deg, #2152ff, #21d4fd); /* Warna hijau */
  position: absolute;
  left: 0;
  bottom: -10px; /* Jarak antara teks dan garis hijau */
}
.slideevent {
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease;
  z-index: 888;
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper .carousel1 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel1.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel1::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel1.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

/* Tambahkan kelas ini untuk menempatkan kartu di tengah */
.centered-carousel {
  display: flex;
  justify-content: center;
}

/* Jika ada satu kartu, pastikan kartu tersebut berada di tengah */
.centered-carousel .card1 {
  flex: 0 0 auto;
  margin: 0 10px; /* Spasi antar kartu */
}

/* Hapus scroll snap behavior untuk menghindari masalah dengan centering */
.centered-carousel {
  scroll-snap-type: none;
  overflow-x: hidden; /* Sembunyikan scrollbar jika tidak diperlukan */
}


.wrapper .carousel1 .card1 {
  position: relative; /* Tambahkan ini agar overlay bisa diposisikan secara absolut */
  scroll-snap-align: start;
  height: 400px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; /* Tambahkan ini untuk memastikan overlay tidak keluar dari batas kartu */
  border: 0;
}

.card1 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.878); /* Ubah ke warna hitam transparan untuk overlay */
  color: rgb(0, 0, 0);
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(100%);
  opacity: 0; /* Tambahkan ini untuk memulai dengan overlay yang tidak terlihat */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card1:hover .overlay {
  transform: translateY(0);
  opacity: 1; /* Overlay menjadi terlihat saat dihover */
}

.overlay h2 {
  margin: 0;
  font-size: 18px; /* Ukuran font yang lebih besar */
  font-weight: bold;
}

.overlay p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #242424; /* Warna font yang lebih terang untuk kontras */
}

.overlay .detail-button {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.overlay .detail-button:hover {
  background-color: #0056b3;
}
.overlay .text-container {
  max-width: 70%; /* Sesuaikan untuk mengatur lebar teks dan tombol */
}


@media (max-width: 900px) {
  .wrapper .carousel1 {
    grid-auto-columns: calc((100% / 2));
  }
}

@media (max-width: 600px) {
  .wrapper .carousel1 {
    grid-auto-columns: 113%;
  }
  .overlay {
    flex-direction: column; /* Ubah flex-direction ke column pada mode mobile */
    align-items: flex-start; /* Teks dan tombol diurutkan vertikal */
  }

  .overlay .text-container {
      max-width: 100%; /* Teks mengambil 100% lebar */
      margin-bottom: 10px; /* Spasi antara teks dan tombol */
  }

  .overlay .detail-button {
      width: 100%; /* Tombol mengambil lebar penuh */
      text-align: center; /* Pusatkan teks di dalam tombol */
  }
}

@media (min-width: 768px){
  .gambarberita{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.image-container {
  width: 100%;
  height: 400px; /* Set a fixed height for the image container */
  overflow: hidden; /* Ensures the image doesn't overflow outside the container */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container without stretching */
}

@media (max-width: 767px) {
  .image-container {
    height: 400px; /* Reduce height for smaller screens */
    margin-bottom: 10px;
  }
}



#boxes {
  display: grid;
  width: 100%;
  margin-top: 30px;
}

#player03 .controls {
  display: flex;
  justify-content: space-around;
}

.player {
  background-image: url("../../assets/img/curved-images/curved0.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.player img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  color: #E1E1E6;
}

.info p {
  opacity: 0.68;
  font-size: 19px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px 0px;
  margin-left: 50px;
}

.player h1 {
  font-size: 27px;
  color: #E1E1E6;
  padding-bottom: 7px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.play i {
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  background: linear-gradient(310deg, #2152ff, #21d4fd);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  color: white;
}

.volume-slider {
  width: 50%;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
}

/* Ubah warna track slider */
.volume-slider::-webkit-slider-runnable-track {
  background: #ffffff; /* Warna track slider */
  border-radius: 15px;
}

/* Ubah warna thumb (tombol penggeser) */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: linear-gradient(310deg, #2152ff, #21d4fd); /* Warna thumb */
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width: 670px) {
  #boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
  }
  .player {
    height: 470px;
  }

  .info-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin: 20px 0;
  }

  .info-wrapper img {
    margin-bottom: 15px;
  }

  .info {
    margin-bottom: 15px;
  }

  .controls {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .volume-slider {
    margin-left: 0;
    width: 50%;
    margin-top: 10px;
  }
  .lokasi iframe {
    height: 250px;
  }
  
}

/* gallery */


/* Masonry image gallery styling */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 15px;
  max-width: 85%;
  margin: 40px 0;
  columns: 5 310px;
  list-style: none;
}
.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}

.gallery .images .img:hover img {
  transform: scale(1.1);
}

/* Image lightbox styling */
.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper1 {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper1 {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper1 :where(header, .details) {
  display: flex;
  align-items: center;
}
.wrapper1 header {
  justify-content: space-between;
}
header .details i {
  font-size: 1.7rem;
}
header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}
header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
header .buttons i:hover {
  background: #5f666d;
}
.wrapper1 .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.preview-img .img {
  max-height: 65vh;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Responsive media query code */
@media screen and (max-width: 688px) {
  .lightbox .wrapper1 {
    padding: 12px;
    max-width: calc(100% - 26px);
  }
  .wrapper .preview-img {
    margin-top: 15px;
  }
  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}
.tombollive{
  background: linear-gradient(310deg, #2152ff, #21d4fd); 
  color: white; 
  padding: 8px 18px; 
  border-radius: 5px; 
  text-align: center; 
  text-decoration: none;
  border: 0;
}
.img-slider{
  height: 700px;
  object-fit: cover;
}
@media (max-width: 700px) {
  .img-slider{
    height: 230px;
    object-fit: cover;
  }
  
}
.tagline {
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote {
  font-family: 'Special Elite', cursive;
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
  text-align: center;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 7rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -3.5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -3.5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}
@media (max-width: 700px) {
  blockquote {
    font-size: 1.5rem;
  }
  blockquote:before {
    content: '“';
    left: -1rem;
    top: -2rem;
  }
  
  blockquote:after {
    content: '”';
    right: -1rem;
    bottom: 1rem;
  }
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 1em;
  text-align: center;
}
.column1 {
  width: 100%;
  padding: 0.5em 0;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #1f003b;
}
.cardteam {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 1em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
}
.cardteam .img-container {
  width: 10em;
  height: 10em;
  background-color: #21d4fd;
  padding: 0.3em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.cardteam img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;

}
.cardteam h3 {
  font-weight: 500;
  text-align: center;
}
.cardteam p {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cardteam a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em;
}
.cardteam:hover {
  background: linear-gradient(310deg, #2152ff, #21d4fd);
  color: #ffffff;
}
.cardteam:hover .img-container {
  transform: scale(1.15);
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .cardteam {
    padding: 3.5em 1em;
    margin-top: 30px;
  }
  .column1 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
@media screen and (max-width: 992px) {
  .cardteam {
    padding: 3.5em 1em;
    margin-top: 30px;
  }
}
:root {
  /* Animation Timing Function */
  --primary-timing-func: cubic-bezier(0.86, 0, 0.07, 1);
  /* Button Variables */
  --button-radius: 60px; 
  --button-inner-ring-radius: 120px;
  --button-outer-ring-radius: 100px;
  --button-gradient: 135deg, #2152ff, #21d4fd;
  --main-background-color: #edc1c2;
  /* Menu Variables */
  --menu-radius: calc(var(--button-radius) - 2px);
  --menu-height: 150px;
  --menu-width: 245px;
  --menu-border-radius: 10px;
  --menu-bg-color: #2779fc;
  --menu-timing-function: var(--primary-timing-func);
  --menu-icon-size: 30px;
/*   Close Icon */
  --close-icon-timing-function: var(--primary-timing-func);
}

.sticky-menu-container{
  position: fixed;
  right: calc(var(--button-radius));
  bottom: calc(var(--button-radius));
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-menu-container .outer-button{
  position: absolute;
  height: var(--button-radius, 70px);
  width: var(--button-radius, 70px);
  border-radius: 50%;
  background: linear-gradient(310deg, #2152ff, #21d4fd);
  background: -moz-linear-gradient(var(--button-gradient));
  background: -webkit-linear-gradient(var(--button-gradient));
  background: linear-gradient(var(--button-gradient));
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 18px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}
.sticky-menu-container .outer-button .icon-container{
  height: inherit;
  width: inherit;
  border-radius: inherit;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  overflow: hidden;
  position: relative;
  cursor: inherit;
}
.sticky-menu-container .outer-button .close-icon{
  transform: scale(0) rotate(-270deg);
  opacity: 0;
  position: absolute;
}

.sticky-menu-container .outer-button .arrow-icon{
  position: absolute;
}

.sticky-menu-container .outer-button .arrow-icon.hiding-spot{
transform: translateX(calc(var(--button-radius) / -2)) translateY(calc(var(--button-radius) / 2));
  opacity: 0;
}

.sticky-menu-container .outer-button .close-icon.show{
  animation-duration: 1000ms;
  animation-name: close-in;
  animation-fill-mode: forwards;
  animation-timing-function: var(--close-icon-timing-function); 
}

.sticky-menu-container .outer-button .close-icon.hide{
  animation-duration: 1000ms;
  animation-name: close-out;
  animation-timing-function: var(--close-icon-timing-function); 
}

.sticky-menu-container .outer-button .arrow-icon.show{
  opacity: 0;
  animation-duration: 1000ms;
  animation-name: arrow-in;
  animation-fill-mode: forwards;
  animation-timing-function: var(--close-icon-timing-function); 
/*   animation-delay: 250ms; */
}

.sticky-menu-container .outer-button .arrow-icon.hide{
  animation-duration: 1000ms;
  animation-name: arrow-out;
  animation-fill-mode: forwards;
  animation-timing-function: var(--close-icon-timing-function); 
}

.sticky-menu-container .outer-button::after, sticky-menu-container.outer-button::before{
  position: absolute;
  display: inline-block;
  content: "";
  height: var(--button-inner-ring-radius);
  width: var(--button-inner-ring-radius);
  border-radius: 50%;
  background-color:transparent;
  border: 0px solid rgba(255,255,255,0.5);
  opacity: 0;
  cursor: pointer;
}

.sticky-menu-container .outer-button.clicked::after{
  animation-duration: 500ms;
  animation-name: touch-click-inner;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.sticky-menu-container .outer-button::before{
  height: var(--button-outer-ring-radius);
  width: var(--button-outer-ring-radius);
}

.sticky-menu-container .outer-button.clicked::before{
  animation-name: touch-click-outer;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-delay: 250ms;
}

.sticky-menu-container .inner-menu{
  position: absolute;
  height: var(--menu-height);
  width: var(--menu-width);
  border-radius: var(--menu-border-radius);
  background-color: var(--menu-bg-color); 
/*   transform: translate(calc(-50% + var(--button-radius) / 2), calc(-55% - var(--button-radius) / 2)); */
  transform: translateX(-91px) translateY(-169px);
  transition: all 1000ms cubic-bezier(0.86, 0, 0.07, 1);
/*   transition-delay: 500ms; */
  padding: 30px;
  overflow: hidden;

}

.sticky-menu-container .inner-menu > ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item{
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item{
  overflow: hidden;
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item > .item-icon{
  margin-right: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.sticky-menu-container .inner-menu.closed{
  height: var(--menu-radius);
  width: var(--menu-radius);
  border-radius: 50%;
  padding:0;
  transform: unset;
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item > .item-text{
  opacity: 0;  
}
.sticky-menu-container .inner-menu > .menu-list > .menu-item > .item-text a{
  text-decoration: none;
  color: white;
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item > .item-text.text-in{
  animation-duration: 1500ms;
  animation-name: text-in;
  animation-fill-mode: forwards;
  animation-timing-function: var(--close-icon-timing-function);
}

.sticky-menu-container .inner-menu > .menu-list > .menu-item.text-hides{
  animation-duration: 200ms;
  animation-name: text-hides;
  animation-fill-mode: forwards;
  animation-timing-function: var(--close-icon-timing-function);
}

@keyframes touch-click-inner {
  50%{ 
      transform: scale(0.375);
      border-width: 30px;
      opacity: 1;
  }
  100%{ 
      transform: scale(1);
      border-width: 1px;
      opacity: 0;
  }
}

@keyframes touch-click-outer {
  0%{
    border-width: 10px;
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100%{ 
      transform: scale(1.1);
      opacity: 0;
  }
}

@keyframes close-in{
  0%{
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  100% {
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes close-out{
  0%{
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
}

@keyframes arrow-out{
  0%{
    transform: translateX(0) translateY(0);
  }
  100%{
    transform: translateX(calc(var(--button-radius) / 1.5)) translateY(calc(var(--button-radius) / -1.5));
  }
}

@keyframes arrow-in{
  0%{
    transform: translateX(calc( -1 * var(--button-radius))) translateY(calc(var(--button-radius)));
    opacity: 0;
  }
  100%{
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes text-in{
  0%{
    opcaity: 1;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-hides{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* 
https://www.instagram.com/p/ByuNUGkAVHk/ 
*/
